[Unit]
Description=Lazynext PostgreSQL Daily Backup Timer
Requires=pg-backup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=600
AccuracySec=5min

[Install]
WantedBy=timers.target
