:80 {
    reverse_proxy 127.0.0.1:3000
    encode gzip
}

lazynext.com, www.lazynext.com {
    reverse_proxy 127.0.0.1:3000
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

api.lazynext.com {
    reverse_proxy 127.0.0.1:8005
    encode gzip
}

collab.lazynext.com {
    reverse_proxy 127.0.0.1:8004
    header {
        Connection "Upgrade"
        Upgrade "websocket"
    }
}
